<h1 style="text-align: center;">Eat-da-Burger!</h1>
<div class="card" style="width: 18rem;">
  <img src="burger.png" class="card-img-top" alt="burger" width="500" height="500">
</div>


<h2>Time to chow down!</h2>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{> burgers/burger-block devoured=true}}
        {{/unless}}
    {{/each}}
</ul>

<h2>You Already ate these!</h2>

<ul>
    {{#each burgers}}
        {{#if devoured}}
            {{> burgers/burger-block devoured=false}}
        {{/if}}
    {{/each}}
</ul>


<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name: </label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Eaten?</label><br>
    <input type="radio" name="devoured" value="0" checked> Nope!<br>
    <input type="radio" name="devoured" value="1"> Eaten
  </div>

  <button type="submit">Add burger</button>
</form>